.page {
  background-color: #ffffffff;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.header {
  padding: 1.28rem 0 0.91rem;
  background-color: #696969;
  height: 3.5rem;
  position: relative;
}
.group {
  flex: 1 1 auto;
  overflow-y: auto;
}
.text {
  color: #000000;
  font-size: 1.13rem;
  font-family: '.AppleSystemUIFont';
  line-height: 1.31rem;
}
.image-wrapper {
  padding: 1.16rem 0 0.47rem;
  background-color: #696969b5;
  border-radius: 0px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
}
.section_1 {
  padding: 0.66rem 0 7.53rem;
  background-color: #696969;
  border-radius: 0 0 2.94rem 2.94rem;
  height: 14.13rem;
  position: relative;
}
.section_3 {
  margin-top: -6.25rem;
  padding: 4.19rem 1.13rem 9.81rem;
  background-color: #ffffff;
  border-radius: 2.94rem 2.94rem 0 0;
  position: relative;
}
.image {
  margin-left: 1.13rem;
  border-radius: 50%;
  width: 1.88rem;
  height: 1.88rem;
}
.text_1 {
  margin-top: 4.22rem;
  color: #000000;
  font-size: 1.5rem;
  font-family: '.AppleSystemUIFont';
  line-height: 1.75rem;
}
.image_1 {
  margin-top: -5.97rem;
  flex-shrink: 0;
  border-radius: 50%;
  width: 3.25rem;
  height: 3.25rem;
}
.section_2 {
  flex-shrink: 0;
  background-color: #696969b5;
  border-radius: 0px 0px 2.94rem 2.94rem;
  width: 26.75rem;
  height: 6.91rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.text_2 {
  align-self: center;
  color: #000000;
  font-size: 1.5rem;
  font-family: '.AppleSystemUIFont';
  line-height: 1.75rem;
}
.text_3 {
  margin-top: 2.06rem;
  align-self: center;
  color: #000000;
  font-size: 1.5rem;
  font-family: '.AppleSystemUIFont';
  line-height: 1.75rem;
}
.image_2 {
  margin-top: 2.5rem;
  align-self: center;
  width: 11.25rem;
  height: 11.25rem;
}
.group_1 {
  margin-top: 6.94rem;
}
.text-wrapper {
  padding: 0.19rem 0 0.38rem;
  align-self: center;
  background-color: #f6f2ff;
  border-radius: 0.81rem;
  border: solid 0.063rem #979797;
}
.button {
  margin-top: 0.81rem;
  padding: 1.19rem 0 1.38rem;
  background-color: #e6ffe8;
  border-radius: 1.88rem;
  border: solid 0.063rem #979797;
}
.text_4 {
  margin-left: 0.75rem;
  margin-right: 0.69rem;
  color: #4a4a4a;
  font-size: 0.75rem;
  font-family: '.AppleSystemUIFont';
  line-height: 0.94rem;
}
.text_5 {
  color: #000000;
  font-size: 0.88rem;
  font-family: '.AppleSystemUIFont';
  line-height: 1.06rem;
}