.rd-handleInfo-root {
    width: 100%;
    height: calc(449px * 450 / 416);
    aspect-ratio: 1.5;
    border: 3px solid var(--theme-purple);
    color: var(--font-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    border-radius: 20px;
}

.rd-handleInfo-root .ant-typography {
    margin: 0 !important;
}

.rd-handleInfo-root h5 {
    font-size: 18px;
    font-weight: 500;
}

.rd-handleInfo-action {
    display: flex;
    gap: 8px;
}

.ant-btn .anticon {
    color: var(--background-color);
}