@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translate(0, 54px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translate(-54px, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translate(54px, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@font-face {
  font-family: 'Poppins-Bold';
  src: url('/fonts/poppins/Poppins-Bold.ttf'); /* IE9 Compat Modes */
}
@font-face {
  font-family: 'Poppins-SemiBold';
  src: url('/fonts/poppins/Poppins-SemiBold.ttf'); /* IE9 Compat Modes */
}
@font-face {
  font-family: 'Poppins-Medium';
  src: url('/fonts/poppins/Poppins-Medium.ttf'); /* IE9 Compat Modes */
}
@font-face {
  font-family: 'Poppins-Regular';
  src: url('/fonts/poppins/Poppins-Regular.ttf'); /* IE9 Compat Modes */
}

*::-webkit-scrollbar {
  display: none;
}
* {
  font-family: 'Poppins', sans-serif;
}
html {
  height: 100%;
}
h1 {
  font-family: 'Poppins-Bold';
}
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins-SemiBold';
}
a,
button {
  font-family: 'Poppins-Medium';
}
ul,
li,
p,
i {
  font-family: 'Poppins-Regular';
}
span {
  font-family: inherit;
}
ul,
li {
  list-style: none;
}
body {
  height: 100%;
  padding: 0;
  color: #fff;
}
img {
  height: auto;
  max-width: 100%;
}
#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.w20 {
  width: 20px;
}
h3,
h4,
h5,
h6 {
  font-weight: 600;
}
.bg-holder {
  padding: 0 20px;
}
.back-top {
  position: fixed;
  bottom: 64px;
  right: 30px;
  width: 30px;
  height: 30px;
}
.back-top-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAABQCAMAAAC5zwKfAAAAM1BMVEUAAADx8fEAAADo6OgAAAAAAADNzc39/f37+/vd3d21tbWYmJhERET39/fq6upxcXH///+E7V3/AAAAEHRSTlMmwACoGQ958+aRX0wx160938kFbQAAAPJJREFUWMPt2UuugzAQRNECbPM3vf/VvpdE+ZBWIitVwz4LKIF0mTTor3ICKeXbEq5zkMj3wQSRdBl0e+Qi3PtS8v8gpHpkSGUkSCWET9Z9hdIy2rhAp9hFgcpsNzM0qt1VCGydPXUbWMdur/aDzWWys2llc3k3LmQuXiFz8WYyF6+SuXjdxuXi7Qebi7l8yFy4fIq1KEQuXD7VWlU6F58Pm4vPh83F58Pm4vMhc/FKey5kPoP9amjLhcynDGeTfTMNZw2fYff9kfAmBmMwBmMwBmMwBmMwBl8Hw0MSz+lPpj2k5Gdn9WFcf7rX/1yQ//74A251bnrBUaCPAAAAAElFTkSuQmCC)
    no-repeat;
  background-size: 100% 100%;
}

.back-top.hidden {
  display: none;
}
