.handleGrid-root {
    padding: 10px;
    display: flex;
    gap: 30px; 
    flex-flow: row wrap;
    justify-content: space-between;
    margin: auto;
}

.handleGrid-root::after {
    content: '';
    flex: auto;
}
