.rd-solar-system-container {
  width: 100%;
  height: 350px;
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.rd-sun {
  position: absolute;
  z-index: 2000;
}

.rd-rings-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rd-input-field {
  position: initial;
  width: 300px;
  height: 60px;
  background-color: var(--purple-one);
  border-radius: 50px 50px 50px 50px;
  border: none;
  border-color: transparent;
  color: var(--background-color);
  padding: 0;
  z-index: -2 !important;
  /* padding-top: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 24px;
  /* border: 2px solid red; */
}

::placeholder {
  color: black !important;
  font: "Raleway" !important;
  font-weight: 700 !important;
  font-size: 28px;
  text-align: center;
  justify-content: center;
}

.rd-orbit {
  /* top: -80px;
  left: 300px; */
  border: 5px solid rgba(256, 256, 256, 0.8);
  border-radius: 50%;
  width: 600px;
  height: 600px;
  max-width: 80vw;
  transform: rotateX(75deg) rotateY(160deg);
  transform-style: preserve-3d;
  position: absolute;
  z-index: 3 !important;
}

.rd-small-planet {
  /* width: 18px;
  height: 18px; */
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  z-index: 5 !important;
}

.rd-small-planet2 {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  position: absolute;
  z-index: 5 !important;
}

.rd-medium-planet {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  position: absolute;
  z-index: 5 !important;
}
.rd-large-planet {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  z-index: 5 !important;
}

.rd-solar-handle-wrapper {
  border-radius: 70px;
  z-index: 5;
  position: absolute;
  font-weight: 600 !important;
}